extends ../../layout/default.pug 

block main 
    .page-not 
        .pageNot-wrapper 
            h1 
                span 404
                |Không tìm thấy trang
            p.sub-text Trang bạn đang tìm kiếm có thể đã bị xóa, chuyển đi, thay đổi link hoặc chưa bao giờ tồn tại.
            .notFound-nav 
                a(href="/") TRỞ VỀ TRANG CHỦ