include ../mixins/submit-button.pug

div(class="main-footer")
    div(class="footer-top")
        div(class="footer-top-container")
            div(class="letter-title")
                h3(class="inner-letter-title")
                    <i class="fa-regular fa-envelope"></i>
                    p Đăng ký nhận bản tin
                <p class="letter-desc">Đế nhận các thông tin mới từ Techgo cũng như các chương trình khuyến mãi</p>
            div(class="letter-form")
                form(class='letter-form-inner')
                    input(type="email" required placeholder="Vui lòng nhập email của bạn..." class="letter-input")
                    +submit-button("đăng ký") 

    div(class="footer-bottom")
        div(class="col-3")
            h4(class="title-footer") Về TTG
            div(Class="footer-desc")
                p Trang thương mại chính thức của Dũng CT - Trực Tiếp Game. Luôn tìm kiếm những sản phẩm vì game thủ.
                ul(class="footer-social")
                    li
                        a(href="https://www.facebook.com/ttgshopvn")
                            <i class="fa-brands fa-facebook-f"></i> 
                    li
                        a(href="https://www.facebook.com/ttgshopvn") 
                            <i class="fa-brands fa-twitter"></i>
                    li
                        a(href="https://www.facebook.com/ttgshopvn") 
                            <i class="fa-brands fa-instagram"></i>
                    li
                        a(href="https://www.facebook.com/ttgshopvn") 
                            <i class="fa-brands fa-google-plus-g"></i>
                    li
                        a(href="https://www.facebook.com/ttgshopvn") 
                            <i class="fa-brands fa-youtube"></i>
        div(class="col-3")
            h4(class="title-footer") Thông tin liên hệ
            div(Class="footer-desc")

                ul(class="footer-contact")
                    li

                        <i class="fa-solid fa-location-dot"></i>
                        p CS1: 180D Thái Thịnh - Đống Đa - HN CS2: 83 - 85 Thái Hà - Đống Đa - HN CS3: 40 đường Vĩnh Viễn - Q10 - TP.HCM
                    li

                        <i class="fa-solid fa-phone"></i>
                        p 0968 239 497 - 097 221 6881
                    li

                        <i class="fa-solid fa-envelope"></i>
                        p ttgshoponline@gmail.com

        div(class="col-3")
            h4(class="title-footer") Hỗ trợ khách hàng
            div(Class="footer-desc")

                ul(class="footer-support")
                    li
                        a(href="https://www.facebook.com/ttgshopvn" target="blank") Tài Khoản Ngân Hàng

                    li
                        a(href="https://www.facebook.com/ttgshopvn" target="blank") Tìm kiếm


        div(class="col-3")
            h4(class="title-footer") Chính sách
            div(Class="footer-desc")

                ul(class="footer-support")
                    li
                        a(href="#") Tài Khoản Ngân Hàng

                    li
                        a(href="#") Tìm kiếm

                    li 
                        a(href="#") Chính Sách Đổi Trả 
    div(class="footer-copyright")
        p Copyright © 2024 TTGShop - Phụ kiện Game Thủ |Tư vấn Build PC| giá rẻ - www.ttgshop.vn. Powered by Haravan