div(class="main-header")
    div(class="inner-header")
        div(class="header-logo")
            a(href="/")
                img(src="https://theme.hstatic.net/1000288298/1001020793/14/logo.png?v=299" alt="logo" srcset="")
        div(class="header-search" )
            form(class="search-container" method="GET" action="/search")
                input(type="text" autocomplete="off" required spellcheck="false" name="keyword" maxlength="40" placeholder="Tìm kiếm sản phẩm..." class="search-input")
                button(class="search-btn" type="submit") 
                    <i class="fa-solid fa-magnifying-glass" style="color:#fff"></i>
            .search-result
                p.search-title Gợi ý cho bạn: 
                .search-suggest 

        div(class="header-action")
            a(class="action-container" href="/login")
                div(class="account-user")
                    <i class="fa-regular fa-user fa-2x"></i>
                    div(class="account-auth")
                        p.account-title Đăng nhập / Đăng ký
                        p.account-content Tài khoản của tôi 
                        <i class="fa-solid fa-angle-down" style="color:#333; margin-left:6px;"></i>
            .header-account 
                .headerAccount-container 
                    h2 Thông tin tài khoản
                    .headerAccount-content 
                        span.user-name
                        a(href="/account") Tài khoản của tôi

                        a(class="log-out") Đăng xuất  

        a(class="header-cart" href = "/cart")
            span.count-holder 
                span #{quantityCart}
            <i class="fa-solid fa-cart-shopping fa-1.5xl" style="font-size:24px"></i>
            p Giỏ hàng 
    div(class="bottom-header")
        div(class="bottom-container")
            div(class="bottom-item")
                a(href="/collections/pc")
                    <i class="fa-solid fa-desktop"></i>
                    p Máy tính
            div(class="bottom-item")
                a(href="/collections/balo-tui")
                    <i class="fa-solid fa-briefcase"></i>
                    p Balo - Túi sách
            div(class="bottom-item")
                a(href="/collections/vga")
                    <i class="fa-solid fa-desktop"></i>
                    p VGA - Card đồ họa
            div(class="bottom-item")
                a(href="/collections/cpu")
                    <i class="fa-solid fa-microchip"></i>
                    p CPU
            div(class="bottom-item")
                a(href="/collections/man-hinh-may-tinh")
                    <i class="fa-solid fa-display"></i>
                    p Màn hình máy tính 

