include ../mixins/policy.pug

.section-wrapper 
    .section-container
        .section-content#slider-container  
            img(src="/image/slide_1_img.jpg" alt="slide" srcset="")
            img(src="/image/slide_2_img.jpg" alt="slide" srcset="")
            img(src="/image/categorybanner_1_img.webp" alt="slide" srcset="")

    //add jquery to slick container
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
    script(src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js")
    script.
        $(document).ready(function(){
            $('#slider-container').slick({
                autoplay: true,
                arrows: false,
                autoplaySpeed: 2000,
                dots: false,
                infinite: true,
                speed: 300,
            });
        });

